<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Mental Health Prediction Web App</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Why Mental Health is Important ?</h1>
    <p>
        Mental health is paramount for overall well-being, influencing quality of life, physical health, and productivity. It's interconnected with emotional well-being, fostering resilience and the ability to navigate life's challenges. Positive mental health enhances relationships, self-esteem, and confidence, contributing to personal growth. Importantly, it serves as a preventive factor against mental illnesses, reducing societal burdens. Recognizing its impact on cognitive function, stress management, and community dynamics is crucial for creating a supportive environment. Prioritizing mental health involves regular self-care, seeking help when needed, and fostering a society where open dialogue and understanding diminish the stigma associated with mental health issues.
    </p>
    <p id="text">
        To know whether you need mental health treatment or not.
    </p>
    <h2>Click on Proceed.</h2>
    <a href="/index"><button>Proceed</button></a>
</body>
</html>
