<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Prediction Web App</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Model Prediction Web App</h1>

    <form action="/result" method="post">
        <label for="Age">Age:</label>
        <input type="number" name="Age" id="Age" required><br>

        <label for="Gender">Gender:</label>
        <select name="Gender" id="Gender" required>
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="female">female</option>
            <option value="male">male</option>
            <option value="trans">trans</option>
        </select><br>

        <label for="family_history">Family History:</label>
        <select name="family_history" id="family_history" required>
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select><br>

        <label for="benefits">Benefits:</label>
        <select name="benefits" id="benefits" required>
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="Don't know">Don't know</option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select><br>

        <label for="care_options">Care Options:</label>
        <select name="care_options" id="care_options" required>
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="No">No</option>
            <option value="Not sure">Not sure</option>
            <option value="Yes">Yes</option>
        </select><br>

        <label for="anonymity">Anonymity:</label>
        <select name="anonymity" id="anonymity" required>
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="Don't know">Don't know</option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select><br>

        <label for="leave">Leave:</label>
        <select name="leave" id="leave" required>
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="Don't know">Don't know</option>
            <option value="Somewhat difficult">Somewhat difficult</option>
            <option value="Somewhat easy">Somewhat easy</option>
            <option value="Very difficult">Very difficult</option>
            <option value="Very easy">Very easy</option>
        </select><br>

        <label for="work_interfere">Work Interfere:</label>
        <select name="work_interfere" id="work_interfere" required>
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="Don't know">Don't know</option>
            <option value="Never">Never</option>
            <option value="Often">Often</option>
            <option value="Rarely">Rarely</option>
            <option value="Sometimes">Sometimes</option>
        </select><br>


        <button type="submit" style="margin-top: 30px;">Predict</button>
    </form>

</body>
</html>
